@font-face {
    font-family: 'homeworld';
    src: url('../fonts/homeworld.eot?a9w0bv');
    src: url('../fonts/homeworld.eot?a9w0bv#iefix') format('embedded-opentype'), url('../fonts/homeworld.ttf?a9w0bv') format('truetype'), url('../fonts/homeworld.woff?a9w0bv') format('woff'), url('../fonts/homeworld.svg?a9w0bv#homeworld') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="hw-"]:before,
[class*="hw-"]:before {
    font-family: 'homeworld';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hw-garage:before {
    content: "\e90d";
}

.hw-bath:before {
    content: "\e909";
}

.hw-bed:before {
    content: "\e90a";
}

.hw-call:before {
    content: "\e90b";
}

.hw-marker:before {
    content: "\e90c";
}

.hw-sqft:before {
    content: "\e908";
}

.hw-arrow-down:before {
    content: "\e907";
}

.hw-arrow-left:before {
    content: "\e905";
}

.hw-arrow-up:before {
    content: "\e906";
}

.hw-arrow-right:before {
    content: "\e904";
}

.hw-grid:before {
    content: "\e900";
}

.hw-home:before {
    content: "\e901";
}

.hw-list:before {
    content: "\e902";
}

.hw-paper-plane:before {
    content: "\e903";
}